<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Provinsi</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-dark text-white">
    <div class="container">
        <h1 class="text-center my-4">{{provinsi.nama}}</h1>
        <img src="/{{provinsi.photo}}" class="img-fluid" alt="{{provinsi.nama}}">
        <p>Diresmikan: {{provinsi.diresmikan}}</p>
        <p>Pulau: {{provinsi.pulau}}</p>

        <a href="/provinsi" class="btn btn-primary">Back to Provinsi</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
